
<hr>
<p align="right">
  <%= link_to 'Create a new Article', new_article_path %>
</p>

<% obj.each do |art| %>
<div class="row">
  <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <%= art.title %> [ID: <%= art.id %>]
          </h5>
          <small class="card-subtitle mb-2 text-muted">
            created by : <%= art.user.username if art.user %> |
            Last Updated :<%= time_ago_in_words(art.updated_at) %> ago |
            Created: <%= time_ago_in_words(art.created_at) %> ago
          </small>
          <hr>
          <p class="card-text">
            <!-- example: description to desc...   -->
            <%= truncate(art.description, length: 100) %>
          </p>
          <hr>
          <p align="right">
            <%= link_to 'Show', article_path(art), class:"card-link" %>

            <% if logged_in? && (current_user == art.user || current_user.admin?) %>

              <%= link_to 'Edit', edit_article_path(art), class:"card-link" %>
              <%=
                link_to 'Delete',
                article_path(art),
                method: :delete,
                data: {confirm: "are you sure delete Article with ID:  #{art.id} ?"},
                class:"card-link"
              %>

            <% end %>

          </p>
        </div>
      </div>
  </div>
</div>
<br/>
<% end %>

<br/><br/>
