<h1>List of Articles</h1>
<hr>
<p align="right">
  <%= link_to 'Create a new Article', new_article_path %>
</p>

<% @art_list.each do |art| %>
<div class="row">
  <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <%= art.title %> [ID: <%= art.id %>]
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Last Updated :<%= art.updated_at %> |
            Created: <%= art.created_at %>
          </h6>
          <hr>
          <p class="card-text">
            <%= art.description %>
          </p>
          <hr>
          <p align="right">
            <%= link_to 'Show', article_path(art), class:"card-link" %>
            <%= link_to 'Edit', edit_article_path(art), class:"card-link" %>
            <%=
              link_to 'Delete',
              article_path(art),
              method: :delete,
              data: {confirm: "are you sure delete Article with ID:  #{art.id} ?"},
              class:"card-link"
            %>
          </p>
        </div>
      </div>
  </div>
</div>
<br/>
<% end %>

<br/><br/>
