<h1>Create a new Article</h1>

<% if @art.errors.any? %>
  <h2>The following errors prevented the article from getting created</h2>
  <ul>
    <% @art.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%# @art here from controller to set in every field into the form %>
<%= form_for @art do |f| %>
  <p>
    <%= f.label :title %> <br/>
    <%= f.text_field :title %> <br/>
  </p>
  <p>
    <%= f.label :description %> <br/>
    <%= f.text_area :description %> <br/>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
