<h3>Show Article with ID: <%= @art.id %> </h3>
<hr/>

<% if @art.user %>
<div class="row">
  <div class="offset-md-4 col-md-4 offset-md-4 center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <%# link_to gravatar_for(@art.user), user_path(@art.user) %>
          <%= link_to gravatar_for(@art.user), user_path(@art.user) %>
        </h5>
        <hr>
        <div class="card-text center">
            <%= link_to @art.user.username, user_path(@art.user) %>
            <br>
            <small>
              <%= pluralize(@art.user.articles.count, "article") if @art.user.articles %>
            </small>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<% end %>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <%= @art.title %>
    </h5>
    <small>Last Update: <%= @art.updated_at %> | Created: <%= @art.created_at %></small
    <p class="card-text">
      <br/><br/>
      <%= @art.description %>
    </p>

    <div class="btn-group" role="group" aria-label="Basic example">

      <% if logged_in? && (current_user == @art.user || current_user.admin?) %>

        <%= link_to 'Edit', edit_article_path(@art), class: "btn btn-xs btn-warning" %>
        <%=
          link_to 'Delete',
          article_path(@art),
          method: :delete,
          data: { confirm: "Are you sure want to delete this article?"},
          class: "btn btn-xs btn-danger"
        %>

      <% end %>

      <%= link_to 'Back', articles_path, class: "btn  btn-info" %>
    </div>

  </div>
</div>
