<h1>Showing selected article</h1>

<p>Id: <%= @art.id %></p>
<p>Title: <%= @art.title %></p>
<p>Description: <%= @art.description %></p>
<p>Created At: <%= @art.created_at %></p>
<p>Updated At: <%= @art.updated_at %></p>

<%= link_to 'Edit this Article', edit_article_path(@art) %> | 
<%= link_to 'Back to Article List', articles_path %>
