<%= render 'shared/errors', obj: @usr %>

<div class="row">
  <div class="col-lg-12">

    <div class="card">
      <div class="card-header">
        Form Input
      </div>
      <div class="card-body">

        <%= form_for(@usr, :html => {class: "form-horizontal", role: "form"} ) do |f| %>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
              <%= f.label :username %>
            </label>
            <div class="col-sm-10">
              <%= f.text_field :username, class: "form-control", placeholder: "Enter Username", autofocus: true%>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
              <%= f.label :email %>
            </label>
            <div class="col-sm-10">
              <%= f.email_field :email, class: "form-control", placeholder: "Enter Email Address" %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
              <%= f.label :password %>
            </label>
            <div class="col-sm-10">
              <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
            </label>
            <div class="left col-sm-10">
              <%= f.submit(@usr.new_record? ? "Sign up" : "Update account", class:"btn btn-primary") %>
            </div>
          </div>

        <% end %>

      </div>
    </div>

  </div>
</div>
